name: CI

on: push

jobs:
  build:
    strategy:
      max-parallel: 1
      matrix:
        operating-system: [ubuntu-18.04, ubuntu-20.04]
        php-versions: ['7.4']

    runs-on: ${{ matrix.operating-system }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Update composer
        run: composer update

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --prefer-dist --no-progress 

      - name: Run test suites
        run: ./vendor/bin/phpunit --coverage-clover coverage.xml
        env:
          CC_API_KEY: ${{ secrets.CC_API_KEY }}

